<!DOCTYPE html>
<html lang="en">
  	<head>
  		<title> Baxter App </title>
  		<link rel="stylesheet" href="ez.css">

  		<!-- JQUERY \ ANGULAR -->	
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/angular.min.js"></script>

		<!-- APP SCRIPT -->
		<script src="scripts/baxter.js"></script>

	</head>

 	<body class="ezpbackground" ng-app="baxterApp" ng-controller="baxterCtrl">

 		<div class="ezheadbackground ezdiv">
  			<div class="ezcenter"> <strong> Home </strong> </div> 
  		</div>

  		<div class="pageContent">



  			<div class="hpContent" ng-if="view == 'home' ">
		 		<div class="eztext ezcenter"> Welcome to the Baxter Academy App! </div>
		 		 
		 		<h3 class="eztext ezcenter"> Quick links: </h3>
		 		<div class="ezcenter btn">
		 			<a href="" class="eztext"> Call school:</a> <br/>
		 			<i class="fa fa-phone" aria-hidden="true"; style="color: #FFFFFF" ></i>
					<a href="" class="eztext"> +1-207-699-5500 </a>
		 		</div>
		 	</div>



 	  	<footer class="ezheadbackground"> 
	 	  	<div class="footerNav">

	 	  		<div class="iconFrame">
	 	  			<img src="images/icons/web.png" ng-click="loadView('home')" /> 
	 	  		</div>
	 	
	 	  		<div class="iconFrame">
		 	  		<img src="images/icons/location-pin.png" /> 
	 			</div>

		 	  	<div class="iconFrame">
	 	  			<img src="images/icons/blueprint.png"/>
	 	  		</div>

	 	  		<div class="iconFrame">
	 	  			<img src="images/icons/credits.png"/>
	 	  		</div>
 	  		</div>
 	  	</footer>

 	</body>

 </html>