<!DOCTYPE html>
<html lang="en">
  	<head>
  		<title> Baxter App </title>
  		<link rel="stylesheet" href="ez.css">

  		<!-- JQUERY \ ANGULAR -->	
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/angular.min.js"></script>

		<!-- APP SCRIPT -->
		<script src="scripts/baxter.js"></script>
			<!-- Map Script -->
		 <script
			  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
			  crossorigin="anonymous"></script>

		<script type="text/javascript">

			// when the page loads, run this code...
			$(function(){


				// define a function "updateStage"
				var updateStage = function(){

					console.log('call back fired!')
				
					// set a variable "room" to be the value of #rm_selector
					var room = $('#rm_selector').val();

					console.log(room)


					// use this variable to build an html string
					var html =	'<img src= "images\\floorplan\\' + room + '.png\" class=\"homeimg\" />';


					console.log('trying to render this html:');
					console.log(html);


					// insert this html string as the body of the HTML element with the id "stage"
					$('#stage').html(html);
				}
				

				// select the HTML element with the id "rm_selector"
				var selectBox = $('#rm_selector');

				// when the value of that element changes, call the function we defined above
				selectBox.change(updateStage);

			})
		
		</script>

	</head>

 	<body class="ezpbackground" ng-app="baxterApp" ng-controller="baxterCtrl">

 		<div class="ezheadbackground ezdiv">
  			<div class="ezcenter"> <strong> Home </strong> </div> 
  		</div>

  		<div class="pageContent">



  			<div class="hpContent" ng-if="view == 'home' ">
		 		<div class="eztext ezcenter"> Welcome to the Baxter Academy App! </div>
		 		<h3 class="eztext ezcenter"> Quick links: </h3>
		 		<div class="ezcenter btn">
		 			<a href="" class="eztext"> Call school:</a> <br/>
		 			<i class="fa fa-phone" aria-hidden="true"; style="color: #FFFFFF" ></i>
					<a href="" class="eztext"> +1-207-699-5500 </a>
		 		</div>
		 	</div>
		


		<div ng-if="view == 'blueprint' " >
		<div class="ezheadbackground ezdiv">
		<div class="eztext ezcenter"> <strong> Blueprint </strong> </div> 
  		</div>
  		<h2 class="eztext ezcenter"> Navigate the school: </h2>
  		<h3 class="eztext ezcenter">By room(Rooms are sorted a-z)</h3>
  		<div class="ezcenter"/>
	  		<select id="rm_selector">
				<option>Select...</option>
				<option>Angelou</option>
				<option>Annex</option>
				<option>Bathrooms1</option>
				<option>Bathrooms2</option>
				<option>Bathrooms3</option>
				<option>Bernoulli</option>
				<option>Confucius</option>
				<option>Darwin</option>
				<option>Dilla</option>
				<option>Euclid</option>
				<option>Fablab</option>
				<option>Greatroom</option>
				<option>Greely</option>
				<option>Hopper</option>
				<option>Khayyam</option>
				<option>Longfellow</option>
				<option>Mirzakhani</option>
				<option>Newton</option>
				<option>Occam</option>
				<option>Office</option>
				<option>Pasteur</option>
				<option>Turing</option>
				<option>Verne</option>
				<option>Wyeth</option>
				<option>Xeno</option>
	  		</select>
  		</div>
  		
  		<br/>
  		<div id="stage"> 
  			<img src="images\floorplan\select....png" class="homeimg"/> 
  		</div>
	</div>

 	  	<footer class="ezheadbackground"> 
	 	  	<div class="footerNav">

	 	  		<div class="iconFrame">
	 	  			<img src="images/icons/web.png" ng-click="loadView('home')" /> 
	 	  			
	 	  		</div>
	 	
	 	  		<div class="iconFrame">
		 	  		<img src="images/icons/blueprint.png" ng-click="loadView('blueprint')" />
	 			</div>

	 			<div class="iconFrame">
		 	  		<img src="images/icons/location-pin.png"/>
	 			</div>


	 	  		<div class="iconFrame">
	 	  			<img src="images/icons/credits.png"/>
	 	  		</div>
 	  		</div>
 	  	</footer>

 	</body>

 </html>