<!DOCTYPE html>
<html lang="en">
  	<head>
  		<title> Baxter App </title>
  		<link rel="stylesheet" href="ez.css">


  		<!-- JQUERY \ ANGULAR -->	
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/angular.min.js"></script>

		<!-- APP SCRIPT -->
		<script src="scripts/baxter.js"></script>
			
			<!-- Map Script -->
		 <script
			  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
			  crossorigin="anonymous"></script>

		<script type="text/javascript">

			// define a function "updateStage"
			updateStage = function(){
			
				// set a variable "room" to be the value of #rm_selector
				var room = $('#rm_selector').val();

				// use this variable to build an html string
				var html =	'<img src= "images\\floorplan\\' + room + '.png\" class=\"homeimg\" />';

				// insert this html string as the body of the HTML element with the id "stage"
				$('#stage').html(html);
			}
		
		</script>

	</head>

 	<body ng-app="baxterApp" ng-controller="baxterCtrl" ng-class="{homeback : view == 'home', staffback : view == 'staff'}">

  		<div class="pageContent">



  		<div class="hpContent" ng-if="view == 'home' ">
  			<div class="ezheadbackground ezdiv">
  			<div class="ezcenter"> <strong> Home </strong> </div> 
  		</div>
		 		<div class="eztext ezcenter "><h2> Welcome to the Baxter Academy App! </h2></div>
		 		<h3 class="eztext ezcenter"> Quick links: </h3>
		 		<div class="ezcenter btn">
		 			<a href="" class="eztext1"> Call school:</a> <br/>
		 			<i class="fa fa-phone" aria-hidden="true"; style="color: #FFFFFF" ></i>
					<a href="tel: (207)699-5500" class="eztext"> +1(207)699-5500 </a>
		 		</div>
		 		<div class="ezcenter btn">
		 			<a href="" class="eztext1"> Suggestions:</a> <br/>
		 			<i class="fa fa-phone" aria-hidden="true"; style="color: #FFFFFF" ></i>
					<a href="mailto: Hunter.Howe@baxter-Academy.org" class="eztext"> Hunter.Howe@baxter-Academy.org </a>
		 		</div>
		 	</div>

		<div ng-if="view == 'blueprint' " >
		<div class="ezheadbackground ezdiv">
		<div class="eztext ezcenter"> <strong> Blueprint </strong> </div> 
  		</div>
  		<div class="ezpbackground"> 
  		<h2 class="eztext ezcenter"> Navigate the school: </h2>
  		<h3 class="eztext ezcenter">By room(Rooms are sorted a-z)</h3>
  		<div class="ezcenter"/>
	  		<select id="rm_selector" data-native-menu="false" onchange="updateStage()">
				<option>Select...</option>
				<option>Angelou</option>
				<option>Annex</option>
				<option>Bathrooms1</option>
				<option>Bathrooms2</option>
				<option>Bathrooms3</option>
				<option>Bernoulli</option>
				<option>Confucius</option>
				<option>Darwin</option>
				<option>Dilla</option>
				<option>Euclid</option>
				<option>Fablab</option>
				<option>Greatroom</option>
				<option>Greely</option>
				<option>Hopper</option>
				<option>Khayyam</option>
				<option>Longfellow</option>
				<option>Mirzakhani</option>
				<option>Newton</option>
				<option>Occam</option>
				<option>Office</option>
				<option>Pasteur</option>
				<option>Turing</option>
				<option>Verne</option>
				<option>Wyeth</option>
				<option>Xeno</option>
	  		</select>
  		</div>
  		
  	
  		<div id="stage"> 
  			<img src="images\floorplan\select....png" class="homeimg"/> 
  		</div>
	</div>
</div>
	<div class="ezcenter" ng-if="view == 'staff' ">
		<div class="ezheadbackground ezdiv">
  			<div class="eztext ezcenter"> <strong>Meet the Staff</strong> </div> 
  		</div>
 		<div class="staffpage">
 	  				<div class="person">
					<img src="images\Pictures\110.jpg" class="smallersize"/>
 	  				<div class="name">Ryan Tarling</div>
 	  				<div class="sub">Job: Coder</div>
 	  			</div>
 	  			<div class="person">
 	  				<img src="images\Pictures\115.jpg" class="smallersize"/>
 	  				<div class="name">Ryan Silke</div>
 	  				<div class="sub">Job: Coder</div>
 	  			</div>
					<div class="person">
 	  				<img src="images\Pictures\112.jpg" class="smallersize"/>
 	  				<div class="name">Hunter Howe</div>
 	  				<div class="sub">Job:Coder, Photo taker</div> 		
 	  			</div>
 	  			<div class="person">
 	  				<img src="images\Pictures\113.jpg" class="smallersize"/>
 	  				<div class="name">Darcy Ross</div>
 	  				<div class="sub">Job: Coder</div>
 	  			</div>
 	  			<div class="person">
 	  				<img src="images\Pictures\111.jpg" class="smallersize"/>
 	  				<div class="name">James Heffernan</div> 
 	  				<div class="sub">Job: Coder, Graphic Designer</div>
 	  			</div>
 	  			<div class="person">
 	  				<img src="images\Pictures\114.jpg" class="smallersize"/>
 	  				<div class="name">Rob Korobkin</div>
 	  				<div class="sub">Job: Project Advisor</div>
 	  			</div>
 	  			<div style="clear: both;"></div>
 			</div>
 	  </div>
 	  </div>
 	  </body>

 	  	<footer class="ezheadbackground"> 
	 	  	<div class="footerNav">

	 	 	<div class="iconFrame">
					<img src="images/icons/web.png" ng-click="loadView('home')" /> 
	 	  		</div>
	 	
	 	  		<div class="iconFrame">
		 	  		<img src="images/icons/blueprint.png" ng-click="loadView('blueprint')" />
	 			</div>

			<div class="iconFrame">
	 	  			<img src="images/icons/credits.png" ng-click="loadView('staff')" "/>
	 	  		</div>
 	  		</div>
 	  	</footer>

 	</body>

 </html>