html {
	height: 100%
}

body{
	padding:0px;
	margin: 0;
	position: relative;
	font-family: tahoma, sans-serif;
	background: url('homeimg.png') center center no-repeat;
	background-size: cover;
}


.eztext, p, strong{

	color: #FFFFFF;


}
.btn {
	width: 200px;
	background: #007EB3;
	border-radius: 20px;
	padding: 30px;
	margin: 10px auto;

}

.ezheadbackground{

	background-color: #007EB3

}

.ezcenter{
	text-align: center;
}

.ezright{
	text-align: right;
}

.ezpbackground{

	background-color: white;
}



.ezdiv div{

	font-size: 250%
}

.homeimg {
	display: block;
	margin: 0 auto 25px;
	width: 400px;
	max-width: 90%;
}

.hpContent {
	
	min-height: 100%
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footerNav {
	width: 280px;
	margin: 0px auto;
	max-width: 100%;
}

.footerNav .iconFrame {
	width: 25%;
	float: left;
}

.footerNav .iconFrame img {
	padding: 20%;
	width: 60%;
}

.map img {
	height: 50%;
	width: 50%
}

.padding div{
	padding: 10px;
}

.map div {
	max-width: 75%
	width: 200px;

}