.eztext{
	
	color: white;
	font-family: tahoma, sans-serif
}

.ezheadbackground{

	background-color: #007EB3

}

.ezcenter{
	text-align: center;
}

.ezright{
	text-align: right;
}

.ezpbackground{

	background-color: #303131
}

body{
	padding:0;
	margin: 0
}

.ezdiv div{

	font-size: 300%
}