.eztext{
	
	color: white;
	font-family: tahoma, sans-serif;
}

.ezheadbackground{

	background-color: #007EB3

}

.ezcenter{
	text-align: center;
}

.ezright{
	text-align: right;
}

.ezpbackground{

	background-color: #303131
}

html {
	height: 100%
}

body{
	padding:0px;
	margin: 0;
	position: relative;
}

.ezdiv div{

	font-size: 250%
}

.homeimg {
	display: block;
	margin: 0 auto 25px;
	width: 400px;
	max-width: 90%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footerNav {
	width: 280px;
	margin: 0px auto;
	max-width: 100%;
}

.footerNav .iconFrame {
	width: 25%;
	float: left;
}

.footerNav .iconFrame img {
	padding: 20%;
	width: 60%;
}
.smallersize {

	height: 16.45%;
	width: 16.45%;
}

